/* GLOBAL STYLES
-------------------------------------------------- */

.list-group-item-success {
	background-color: #3c763d;
}

.list-group-item-warning {
	background-color: #8a6d3b;
}

.list-group-item-danger {
	background-color: #a94442;
}

.list-group-item {
	border: 0;
}