/* GLOBAL STYLES
-------------------------------------------------- */

body.alerting {
	background: rgb(244, 35, 35) !important;
}

.list-group-item-success {
	background-color: #5cb85c;
}

.list-group-item-warning {
	background-color: #f0ad4e;
}

.list-group-item-danger {
	background-color: #d9534f;
}

.list-group-item {
	border: 0;
	margin-bottom: 0;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 15px;
	padding-right: 15px;
}

.list-group-item.controls {
	background-color: rgba(255, 255, 255, .80);
	padding-top: 10px;
	padding-bottom: 10px;
}


.list-group-item-transparent {
	background-color: rgba(255, 255, 255, .60);
	color: rgb(20, 20, 20);
}

.list-group-item-transparent.spoken {
	color: rgb(80, 80, 80);
}

.list-group-item:first-child {
	border-top-left-radius: 0; 
	border-top-right-radius: 0;
}

.navbar {
	margin-bottom: 10px;
	border-radius: 0; 
	background-color: rgba(255, 255, 255, .95);
}

.navbar-default {
	border: 0;
}

.navbar-brand {
	font-size: 17px;
}

.modal {
	overflow: hidden;
}